{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>POS Store</title>
    <link rel="stylesheet" href="{% static 'store/index.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <style>
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }
    </style>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    {% include 'store/navbar.html' %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
