<nav class="navbar">
  <a class="navbar-brand" href="/">POS Store</a>
  <form class="search" action="/products">
    <input
      class="searchbar"
      type="search"
      placeholder="Search for products"
      name="product_search"
    />
    <button class="material-symbols-outlined btn-search">search</button>
  </form>
  <ul>
    <li>
      <a class="navbar-link" href="{% url 'products' %}">
        <div class="material-symbols-outlined"> newsstand </div>
        <div>Products</div>
      </a>
    </li>
    <li>
      <a class="navbar-link" href="/">
        <span class="material-symbols-outlined"> shopping_bag </span>
        Orders
      </a>
    </li>
    <li>
      <a class="navbar-link" href="/">
        <span class="material-symbols-outlined">shopping_cart</span>
        Cart
      </a>
    </li>
  </ul>
</nav>