{% extends "store/base.html" %}

{% block content %}
<h2>Your Orders (2)</h2>
<table>
  <thead>
    <tr>
      <th class="td-right">Order Ref</th>
      <th class="td-left">Product</th>
      <th class="td-right">Quantity</th>
      <th>Order Date</th>
      <th>Arrival Date</th>
      <th>Delivery Address(es)</th>
      <th>Invoice Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="td-right">1</td>
      <td>Campeed Stand</td>
      <td class="td-right">x 500</td>
      <td>12 Nov 2024</td>
      <td>12 Feb 2025</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="td-right">2</td>
      <td>Movicol Stand</td>
      <td class="td-right">x 200</td>
      <td>12 Nov 2024</td>
      <td>12 Feb 2025</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}