{% extends "store/base.html" %} {% block content %}
<h2>Your Orders (2)</h2>
<table>
  <thead>
    <tr>
      <th class="td-right">Order Ref</th>
      <th>Order Date</th>
      <th>Order Items</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td class="td-right">{{ order.pk }}</td>
      <td>{{ order.order_date }}</td>
      <td>
        <ul>
          {% for item in order.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
