html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

.navbar {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.navbar > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 100%;
}

.navbar > ul > li {
  height: 100%;
}

.navbar-link {
  text-decoration-line: none;
  color: blue;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0 10px;
  min-width: 50px;
}

.navbar-brand {
  text-decoration-line: none;
  height: 100%;
  display: block;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
  padding-left: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
}

.card > img {
  object-fit: cover;
  height: 300px;
  border: 1px solid lightgray;
}

.card > button {
  background-color: blue;
  color: white;
}

.card > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 12px;
  color: blue;
}

h1 {
  font-size: 32px;
}

.td-left {
  text-align: left;
}

.td-center {
  text-align: center;
}


.td-right {
  text-align: right;
}

table {
  border-collapse: collapse;
}

main {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.cards {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: calc(3 * 400px);
}

.product-page-img {
  object-fit: cover;
  height: 300px;
  border: 1px solid lightgray;
}

.btn {
  background-color: rgb(70, 70, 255);
  color: white;
  border: 1px solid;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-edit {
  background-color: rgb(70, 70, 255);
  color: white;
  border: 1px solid;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
}

.btn-delete {
  background-color: red;
  color: white;
  border: 1px solid;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn-delete-md {
  background-color: red;
  color: white;
  border: 1px solid;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn:hover, .btn-delete:hover, .btn-edit:hover, .btn-delete-md:hover {
  cursor: pointer;
}

.btn:active {
  background-color: blue;
}

.product-info {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.product-info > button {
  
}

.product-quantity {
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-price {
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-quantity-input {
  width: 80px;
  text-align: center;
}

.search {
  display: flex;
  height: 40px;
  padding: 0;
}

.btn-search {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid lightgray;
  background-color: rgb(238, 238, 238);
  color: gray;
}

.searchbar {
  height: 100%;
  width: 400px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid lightgray;
  border-right: none;
}

.module-nav {
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  justify-content: center;
}

.cart-table {
  /* gap: 10px 0; */
  /* margin-left: 0; */
  /* padding: 0; */
  /* margin-top: 40px; */
  /* border-collapse: collapse; */
}

.cart-tr {
  border-bottom: 1px solid lightgray;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.cart-img-container {
  display: flex;
  height: 100px;
  width: 200px;
  justify-content: center;
}

.cart-img {
  object-fit: contain;
}

.cart-th {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-td {
  padding-left: 40px;
  padding-right: 40px;
}
